.container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.progress {
  width: 100%;
  height: 20px;
  background: #e5e7eb;
  //   border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #2563eb;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 800ms ease-out;
}
