.h1 {
  font-size: var(--h1-fs);
  line-height: var(--h1-lh);
  letter-spacing: var(--h1-ls);
  font-weight: var(--h1-fw);
}

.h2 {
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
  letter-spacing: var(--h2-ls);
  font-weight: var(--h2-fw);
}

.h3 {
  font-size: var(--h3-fs);
  line-height: var(--h3-lh);
  letter-spacing: var(--h3-ls);
  font-weight: var(--h3-fw);
}

.h4 {
  font-size: var(--h4-fs);
  line-height: var(--h4-lh);
  letter-spacing: var(--h4-ls);
  font-weight: var(--h4-fw);
}

.h5 {
  font-size: var(--h5-fs);
  line-height: var(--h5-lh);
  letter-spacing: var(--h5-ls);
  font-weight: var(--h5-fw);
}

.h6 {
  font-size: var(--h6-fs);
  line-height: var(--h6-lh);
  letter-spacing: var(--h6-ls);
  font-weight: var(--h6-fw);
}

.p1 {
  font-size: var(--p1-fs);
  line-height: var(--p1-lh);
  letter-spacing: var(--p1-ls);
  font-weight: var(--p1-fw);
}

.p2 {
  font-size: var(--p2-fs);
  line-height: var(--p2-lh);
  letter-spacing: var(--p2-ls);
  font-weight: var(--p2-fw);
}

.p3 {
  font-size: var(--p3-fs);
  line-height: var(--p3-lh);
  letter-spacing: var(--p3-ls);
  font-weight: var(--p3-fw);
}

.p4 {
  font-size: var(--p4-fs);
  line-height: var(--p4-lh);
  letter-spacing: var(--p4-ls);
  font-weight: var(--p4-fw);
}

.p5 {
  font-size: var(--p5-fs);
  line-height: var(--p5-lh);
  letter-spacing: var(--p5-ls);
  font-weight: var(--p5-fw);
}

.block {
  position: relative;
}

/* Bottom border segment */
.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px; /* 👈 length of bottom border */
  height: 2px; /* border thickness */
  background-color: #252b37;
}

/* Right border segment */
.block::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px; /* border thickness */
  height: 24px; /* 👈 length of right border */
  background-color: #252b37;
}

.gradient-dark {
  background: linear-gradient(to right, #252b37 98.5%, #e9eaec);
}

.wdp-pc-bg {
  background: linear-gradient(
    to right,
    #252b37 0%,
    #252b37 10%,
    #e9eaec 10%,
    #e9eaec 100%
  );
}

/* DEFAULT (inactive) */
a:not(.active) .nav-indicator {
  width: 2rem; /* w-8 */
  background-color: rgb(226 232 240 / 0.5);
}

a:not(.active) .nav-text {
  color: rgb(226 232 240 / 0.5);
}

/* HOVER / FOCUS */
a:hover .nav-indicator,
a:focus-visible .nav-indicator {
  width: 4rem;
  background-color: rgb(226 232 240 / 1);
}

a:hover .nav-text,
a:focus-visible .nav-text {
  color: rgb(226 232 240 / 1);
}

/* ACTIVE (persistent) */
a.active .nav-indicator {
  width: 4rem;
  background-color: rgb(226 232 240 / 1);
}

a.active .nav-text {
  color: rgb(226 232 240 / 1);
}

/* TRANSITION */
.transition-all {
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.displayContainer {
  min-height: calc(100vh - 120px);
}
