@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* --color-primary: #2563eb;
  --color-accent: #f97316;

  --radius-md: 0.5rem;

  --motion-fast: 150ms; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

